.mapdisplay {
    width: 100%;
    height: 60vh;
    margin-top: 1rem;
    margin-left: 0rem;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(237, 232, 223);
    padding-left: 20rem;
    padding-right: 10rem;
    background-color: rgb(184, 217, 230);
}

.weatherdetail {
    text-align: center;
}

#param {
    display: flex;
    justify-content: space-around;

}

.field {
    border-color: rgb(210, 236, 246);
}

.select {
    background-color: rgb(178, 215, 234);
}

#btn-weather {
    margin-left: 20rem;
}